@import "utilities";
@import "reset";
@import "menu";


html {
  scroll-behavior: smooth;
  font-size:1.1rem;
  overflow-x:hidden;
}

body {
  background-image: url(../img/Confetti-Doodles.svg);
  height:100vh;
  font-family: 'Montserrat', sans-serif;
}

.main {
  // display:none;
}

.header-hero {
background-image: $hero_bg;
background:  no-repeat center cover ;
background-attachment: fixed;
}


.header {
 
  .logo {
    width:50px;
    position:absolute;
    top:40px;
  left:30px;
  z-index:10;
  }
}

// Start Hero
.hero {
@include flex;
justify-content: center;
height:90vh;
position: relative;

.hero-text,.cta {
  left:30px;
  position:relative;
}

.hero-text {
  margin-bottom:3rem;
  text-align: left;
}

h3,h1 {
  color:$text_color;
  font-weight: 500;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: .7rem;
  font-size: 1rem;

  .standout {
    color:$secondary_color;
  }
    }


h1 {
  font-size: 1.6rem;
 width:87%;
 

 .regular {
  font-weight: 400;
}
}

  .cta {
    display:flex;
  }

  .wave-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    transform: rotate(180deg);
}

.wave-shape svg {
    position: relative;
    width: 100%;
    height: 85px;
}

.wave-shape .shape-fill {
    fill: $text_color;
}
}
//  End Hero

// Start Projects
.projects {
  padding:1.5rem;
  margin: 7rem 0 10rem 0;

  h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    color:$primary_color;
  }
  
  .card {
    background-image:url(../img/card_image.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height:200px;
    position:relative;

    &:hover .card-title {
      color:$primary_color;
      @include easeOut;
    }

    &:hover .card-title:before {
      visibility: hidden;
    }


    a {
      width:100%;
      height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
    &:after {
      content:'';
      position:absolute;
      width:100%;
      height:100%;
      background:rgba(0,0,0,0.5);
    }

    &:hover:after {
      background:$bg_color;
      animation:zoomIn;
      animation-duration:0.5s;
      @include easeOut;
            }
    }

      .card-title {
        font-size: 2rem;
        transform: rotate(-15deg);
        z-index:100;
        font-weight: bold;
        position:relative;
        color:$text_color;
        font-style: italic;
        height:4rem;
        margin:0;
    
        &:before {
          content:'view live';
position:absolute;
top:-60px;
left:10px;
font-size: 1rem;
border:1px solid $secondary_color;
padding:.2rem;
color:$secondary_color;
        }
  
        &::after {
          content:'magazine';
          font-size: 1.3rem;
          position:absolute;
          bottom:0;
          right:0;
          letter-spacing: 3px;
          font-weight: 500;
        }
      }  
  }

  .card-info {
   background:$bg_color;
    color:$text_color1;
    padding:1.5rem;
    @include flex;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;

     h3 {
       margin-bottom: .8rem;
     }

    p {
      line-height: 1.3;
      text-align: center;
    }

    .btn-wrapper {
      display:flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1.5rem;
      width:100%;
      padding:1rem;
 
          .github {
            background: $primary_color;
            padding:.5rem 1rem;
            color:$text_color;
            font-weight: 700;
            border-radius:5px;
            font-size: 1rem;
      
            i {
              margin-right: .5rem;
            }
          }
     
       .card-skills {
           display:flex;
           align-items: center;
           justify-content: space-around;
           flex-basis: 40%;
           font-size: 1.7rem;
           color:$primary_color;
       }
   }
  }
  }
  // End Projects

  // Start About
  .about {
    margin:7rem 0 10rem 0;
  position:relative;
  
  &:before {
    content:'about';
    opacity:0.1;
    color:gray;
    position:absolute;
    left:50%;
    transform:translate(-50%,-50%);
   top:10%;
  }

  
    .about-container {
      padding:1.5rem;
      @include flex;
     
      
      .about-wrap {
        @include flex;
      }
      
      .about-text {
        color:$text_color1;
        text-align: center;
        font-weight: 500;
        font-size: 1rem;
        z-index:100;
      line-height: 1.3;
      margin:3rem 0;
      border-radius:10px;
      }

      .about-btn {
        background:$text_color;
        border:none;
        span {
          background: $secondary_color;
        }

        &:hover {
          color:$text_color1;
        }

        .cv-btn {
          color:$text_color;
          @extend .work-btn;
        border:1px solid $text_color;
        margin-left: 1rem;
      
        &:hover {
          color:$text_color1;
        }
          
        span {
          @extend span;
      background:$secondary_color;
      transform: translateY(-150%);
        }
        }
      }

      .social-media {
        margin:3rem 0;
        display:flex;
        width:90%;
        justify-content: space-around;
        font-size: 1.5rem;
        z-index:100;
      }
      
      .photo {
margin-bottom: 5rem;
width:100%;
display: flex;
justify-content: center;
align-items: center;
z-index:100;

.myPhoto {
  border-radius:10px;
  width:100%;
  margin-top: 4rem;
}
      } 
    }  

    .shape-divider {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      transform: rotate(180deg);
      z-index:100;
  }
  
  .shape-divider svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 69px;
      transform: rotateY(180deg);
  }
  
  .shape-divider .shape-fill {
      fill: #FFFFFF;
  }
  }
  // End About

  // Start Skills
  .skills {
    .circle-container {
     @include on-circle($item-count: 6, $circle-size:14em, $item-size: 4em);
   
     &:hover {
       animation:rotate 13s linear infinite;
       @include easeOut;
     }
 
     @keyframes rotate {
       to {
         transform: rotate(360deg);
       }
       
     }
 
     .skill-item {
       @include flex;
       justify-content: center;
       background: #f2f2f2;
       padding:1.1rem;
       border-radius:10px;
       box-shadow: 2px 3px 3px 1px rgba(0,0,0,0.56);
     -webkit-box-shadow: 2px 3px 3px 1px rgba(0,0,0,0.56);
     -moz-box-shadow: 2px 3px 3px 1px rgba(0,0,0,0.56);
     
     img {
       width:50px;
       height:50px;
     }
      }
    }
   }
  // End Skills

// Start Contact form
.contact-form {
  margin:7rem  0 5rem 0;

  .contact-text {
    width:85%;
    max-width:1200px;
    margin:0 auto;

    h1  {
      margin-bottom: 3rem;
      color:$primary_color;
      text-align: left;
     font-size: 2rem;
    }
  }
  
  .form {
    @include flex;
    .illustration {
    width:100%;
    display:none;
    }
  }
  
  .form-container {
    display:flex;
    flex-direction: column;
    width:85%;
  }

  label {
    margin:.7rem 0;
    color:$text_color1;
  }

  input{
    border:1px solid $primary_color;
    background:transparent;
    color:$text_color1;
    padding:.5rem .7rem;
    border-radius:5px;
    font-size: 1rem;
    outline:none;

    &:focus {
      border:2px solid $primary_color;
    }
  
  }

    textarea {
      @extend input;
      border-radius:5px;
      resize:none;
    }
  }
// End Contact form 

@import "media";
