@import "utilities";
@import "reset";
@import "menu";



.header {
    background:$primary_color;
}


.resume-container {
    overflow: hidden;
    max-width:1200px;

    .resume {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        background: $primary_color;
        position: relative;
        margin-top: 5rem;

        .download-resume {
            z-index: 1;
            color: $text_color1;
            font-size: 1.2rem;

            i {
                margin-left: 1rem;
                font-size: 1.5rem;
                color: $primary_color;
            }
        }

        .send-btn {
            font-size: 1.1rem;
            font-weight: bold;
            color: $text_color;
            letter-spacing: 2px;
            margin-top: 4rem;
            @include easeOut;
        }

        .design-top {
            position: absolute;
            top: 0;
        }

        .design-bottom {
            bottom: 0;
            position: absolute;
            transform: rotate(180deg);
        }


        .icons {
            margin-right: 1rem;
        }

        .bold {
            font-weight: 600;
        }

        .title {
            margin: 3rem auto;
            color: $text_color1;
            font-size: 1.3rem;
            background: $bg_color;
            text-align: center;
            padding: .7rem 1rem;
            border-radius: 50px;
            max-width: 300px;
        }

        .basic-info,
        .contact,
        .work,
        .education,
        .language,
        .work {
            padding: 1.5rem;
            border-radius: 5px;
            color: $text_color1;
            line-height: 1.7;
            width: 100%;
            font-size: 1.1rem;
            text-align: center;
            background: $bg_color;
            margin-bottom: 2rem;
        }

        .contact,
        .basic-info,
        .language {
            text-align: left;
        }

        .info-contact {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 250px));
            width: 100%;
            margin-top: 5rem;
            place-content: center;
            column-gap: 2rem;

            .title {
                margin: 0;
                padding: 0;
                margin-bottom: 1rem;
            }
        }

        .aboutMe {
            margin-bottom: 5rem;
            .message-case {
                position: relative;
                background: $bg_color;
                border-radius: 10px;
                text-align: center;
                padding: 1.5rem;
                margin: 0 auto;
                color: $text_color1;

                &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 0;
                    z-index: 1;
                    border-style: solid;
                    border-color: $bg_color transparent;
                    border-width: 20px 20px 0;
                    bottom: -20px;
                    right: 15%;
                }
            }
        }

        .education-language {
            @extend .info-contact;

            .language,
            .education {
                display: grid;
                justify-content: center;

                h4 {
                    font-size: 1.4rem;
                    font-weight: 600;
                }

                .title {
                    margin: 1rem;
                    padding: 0;
                }
            }
        }

        .lg-size-work {
            display: none;
        }

        .work-experience {
            width: 100%;

            .owl-carousel .owl-item,
            .owl-stage {
                display: flex;
            }

            .owl-dots {
                display: none;
            }

            .owl-prev {
                position: absolute;
                top: 50%;
                transform: translateY(-50%, -50%);
                right: 100%;
                color: $bg_color;
                margin-right: .5rem;
            }

            .owl-next {
                @extend .owl-prev;
                left: 100%;
                margin-left: .5rem;
            }

            .item {
                display: flex;
                margin: 0 auto;
            }
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;

            .skills-tools {
                display: flex;
                flex-direction: column;
                margin-bottom: 5rem;

                .skills {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
                    grid-template-rows: repeat(2, 1fr);
                    place-content: center;
                    place-items: center;
                    gap: 1.5rem;


                    img {
                        width: 50px;
                    }
                }

                .tools {
                    .vs-code {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: $text_color;
                        margin-bottom: 2rem;

                        img {
                            width: 40px;
                            height: 40px;
                            margin-left: 1rem;
                        }
                    }
                }

            }
        }

        .traits-illustration {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 8rem;

            .illustration {
                width: 100%;
            }
        }

        .back-to-top {
            z-index: 1;
            cursor: pointer;
            @include easeOut;
    
            a {
                display:flex;
            }

            &:hover {
               transform: translateY(-10px);

                        }

            #back-top {
                color: $text_color1;
                font-size: 1.2rem;
            }

            i {
                color: $primary_color;
                margin-left: 1rem;
                font-size: 1.5rem;
            }
        }

    }
}


@import 'media';