.work-btn, .about-me, .cv-btn, .contact-send {
  color: #5C5757;
  position: relative;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  overflow: hidden;
  z-index: 1;
  font-weight: bold;
  font-size: 1rem;
  background: #92eef7;
  border: 1px solid #92eef7;
}

.work-btn:hover, .about-me:hover, .cv-btn:hover, .contact-send:hover {
  color: #ffffff;
}

.work-btn:hover span, .about-me:hover span, .cv-btn:hover span, .contact-send:hover span {
  -webkit-transform: translateY(0) scale(2);
          transform: translateY(0) scale(2);
}

.work-btn span, .about-me span, .cv-btn span, .contact-send span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #0f6283;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  left: calc((var(--n) - 1) * 25%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: calc((var(--n) - 1) * 0.1s);
          transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
  border-radius: 50%;
}

.work-btn span:nth-child(1), .about-me span:nth-child(1), .cv-btn span:nth-child(1), .contact-send span:nth-child(1) {
  --n: 1;
}

.work-btn span:nth-child(2), .about-me span:nth-child(2), .cv-btn span:nth-child(2), .contact-send span:nth-child(2) {
  --n: 2;
}

.work-btn span:nth-child(3), .about-me span:nth-child(3), .cv-btn span:nth-child(3), .contact-send span:nth-child(3) {
  --n: 3;
}

.work-btn span:nth-child(4), .about-me span:nth-child(4), .cv-btn span:nth-child(4), .contact-send span:nth-child(4) {
  --n: 4;
}

.about-me, .cv-btn {
  background: none;
  color: #ffffff;
  margin-left: 1rem;
}

.about-me:hover, .cv-btn:hover {
  color: #5C5757;
}

.about-me span, .cv-btn span {
  background: #92eef7;
}

.cv-btn {
  border: 1px solid #0f6283;
  color: #5C5757;
}

.cv-btn:hover {
  color: white;
}

.cv-btn span {
  background: #0f6283;
}

.contact-send {
  color: #ffffff;
  margin-top: 1rem;
  background: #0f6283;
  border-radius: 5px;
  border: none;
}

.contact-send span {
  background-color: #92eef7;
}

.contact-send:hover {
  color: #5C5757;
}

.icon-button {
  width: 50px;
  height: 50px;
  background: #ffffff;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon-button:hover span {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.icon-button:hover i {
  color: #ffffff;
}

.icon-button span {
  border-radius: 0;
  height: 0;
  margin: 0;
  position: absolute;
  width: 0;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.icon-button .facebook {
  background: #3B5998;
}

.icon-button .github {
  background: #24292e;
}

.icon-button .linkedin {
  background: #0675e7;
}

.icon-button .fa-facebook-f {
  color: #0675e7;
}

.icon-button .fa-github {
  color: #24292e;
}

.icon-button .fa-linkedin {
  color: #0a66c2;
}

.icon-button i {
  position: relative;
  z-index: 100;
  font-size: 1.5rem;
}

.animate__animated .animate__fadeInLeftBig {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.main, .animate__zoomInLeft, .animate__fadeInDown, .animate__fadeInDown, .animate__slideInLeft, .animate__slideInRight {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}

.loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow-y: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading {
  width: 3.75em;
  -webkit-animation: 1.5s spin ease infinite;
          animation: 1.5s spin ease infinite;
}

.ring {
  fill: none;
  stroke: #0f6283;
  stroke-width: 2;
}

.ball {
  fill: #0f6283;
  stroke: none;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
  color: none;
}

a:visited {
  color: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

span {
  display: inline-block;
}

input {
  border: none;
}

.menu-btn {
  position: absolute;
  z-index: 11;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  top: 40px;
  right: 30px;
}

.nav-menu {
  position: fixed;
  z-index: 10;
  width: 100%;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem 0;
  -webkit-transform: translate(0, -600px);
          transform: translate(0, -600px);
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.nav-menu.show {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.nav-menu .nav-ul {
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu .nav-ul .nav-item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.nav-menu .nav-ul .nav-item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.nav-menu .nav-ul .nav-item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.nav-menu .nav-ul .nav-item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.nav-menu .nav-ul .nav-item {
  margin-top: 1rem;
  -webkit-transform: translate3d(600px, 0, 0);
          transform: translate3d(600px, 0, 0);
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  position: relative;
}

.nav-menu .nav-ul .nav-item.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.nav-menu .nav-ul .nav-item::before {
  content: '';
  position: absolute;
  bottom: 50%;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #5C5757;
  -webkit-transform-origin: middle;
          transform-origin: middle;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.nav-menu .nav-ul .nav-item:hover::before {
  -webkit-transform-origin: middle;
          transform-origin: middle;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.nav-menu .nav-ul .nav-item .current:visited {
  color: #92eef7;
}

.nav-menu .nav-ul .nav-item .link-nav {
  color: #ffffff;
  padding-bottom: 0rem;
  font-weight: 500;
}

.nav-menu.show {
  visibility: visible;
}

.header {
  background: #0f6283;
}

.resume-container {
  overflow: hidden;
  max-width: 1200px;
}

.resume-container .resume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  background: #0f6283;
  position: relative;
  margin-top: 5rem;
}

.resume-container .resume .download-resume {
  z-index: 1;
  color: #5C5757;
  font-size: 1.2rem;
}

.resume-container .resume .download-resume i {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #0f6283;
}

.resume-container .resume .send-btn {
  font-size: 1.1rem;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 2px;
  margin-top: 4rem;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.resume-container .resume .design-top {
  position: absolute;
  top: 0;
}

.resume-container .resume .design-bottom {
  bottom: 0;
  position: absolute;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.resume-container .resume .icons {
  margin-right: 1rem;
}

.resume-container .resume .bold {
  font-weight: 600;
}

.resume-container .resume .title {
  margin: 3rem auto;
  color: #5C5757;
  font-size: 1.3rem;
  background: #e6e6e6;
  text-align: center;
  padding: .7rem 1rem;
  border-radius: 50px;
  max-width: 300px;
}

.resume-container .resume .basic-info,
.resume-container .resume .contact,
.resume-container .resume .work,
.resume-container .resume .education,
.resume-container .resume .language,
.resume-container .resume .work {
  padding: 1.5rem;
  border-radius: 5px;
  color: #5C5757;
  line-height: 1.7;
  width: 100%;
  font-size: 1.1rem;
  text-align: center;
  background: #e6e6e6;
  margin-bottom: 2rem;
}

.resume-container .resume .contact,
.resume-container .resume .basic-info,
.resume-container .resume .language {
  text-align: left;
}

.resume-container .resume .info-contact, .resume-container .resume .education-language {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 250px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 250px));
  width: 100%;
  margin-top: 5rem;
  place-content: center;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.resume-container .resume .info-contact .title, .resume-container .resume .education-language .title {
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.resume-container .resume .aboutMe {
  margin-bottom: 5rem;
}

.resume-container .resume .aboutMe .message-case {
  position: relative;
  background: #e6e6e6;
  border-radius: 10px;
  text-align: center;
  padding: 1.5rem;
  margin: 0 auto;
  color: #5C5757;
}

.resume-container .resume .aboutMe .message-case:after {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  z-index: 1;
  border-style: solid;
  border-color: #e6e6e6 transparent;
  border-width: 20px 20px 0;
  bottom: -20px;
  right: 15%;
}

.resume-container .resume .education-language .language,
.resume-container .resume .education-language .education {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume-container .resume .education-language .language h4,
.resume-container .resume .education-language .education h4 {
  font-size: 1.4rem;
  font-weight: 600;
}

.resume-container .resume .education-language .language .title,
.resume-container .resume .education-language .education .title {
  margin: 1rem;
  padding: 0;
}

.resume-container .resume .lg-size-work {
  display: none;
}

.resume-container .resume .work-experience {
  width: 100%;
}

.resume-container .resume .work-experience .owl-carousel .owl-item,
.resume-container .resume .work-experience .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume-container .resume .work-experience .owl-dots {
  display: none;
}

.resume-container .resume .work-experience .owl-prev, .resume-container .resume .work-experience .owl-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%, -50%);
          transform: translateY(-50%, -50%);
  right: 100%;
  color: #e6e6e6;
  margin-right: .5rem;
}

.resume-container .resume .work-experience .owl-next {
  left: 100%;
  margin-left: .5rem;
}

.resume-container .resume .work-experience .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.resume-container .resume .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.resume-container .resume .wrapper .skills-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.resume-container .resume .wrapper .skills-tools .skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100px, 100px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  place-content: center;
  place-items: center;
  gap: 1.5rem;
}

.resume-container .resume .wrapper .skills-tools .skills img {
  width: 50px;
}

.resume-container .resume .wrapper .skills-tools .tools .vs-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  margin-bottom: 2rem;
}

.resume-container .resume .wrapper .skills-tools .tools .vs-code img {
  width: 40px;
  height: 40px;
  margin-left: 1rem;
}

.resume-container .resume .traits-illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin-bottom: 8rem;
}

.resume-container .resume .traits-illustration .illustration {
  width: 100%;
}

.resume-container .resume .back-to-top {
  z-index: 1;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

.resume-container .resume .back-to-top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume-container .resume .back-to-top:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.resume-container .resume .back-to-top #back-top {
  color: #5C5757;
  font-size: 1.2rem;
}

.resume-container .resume .back-to-top i {
  color: #0f6283;
  margin-left: 1rem;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .nav-logo-container, .hero-container, .about-container, .form, .card-container {
    width: 85%;
    margin: 0 auto;
    max-width: 1200px;
  }
  .menu-btn {
    display: none;
  }
  .header .nav-logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
  }
  .header .logo-container {
    width: 20%;
  }
  .header .logo-container .logo {
    position: unset;
  }
  .header .nav-menu {
    visibility: visible;
    -webkit-transform: none;
            transform: none;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: unset;
  }
  .header .nav-menu .nav-item {
    -webkit-transform: none;
            transform: none;
    margin: 0;
    margin-left: 2rem;
  }
  .header .nav-menu .nav-ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    font-size: 1rem;
  }
  .main .hero {
    height: 85vh;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main .hero-text {
    position: unset;
    margin-top: 5rem;
  }
  .main .hero-text h1 {
    font-size: 2rem;
    width: 80%;
  }
  .main .hero .cta {
    position: unset;
  }
  .projects {
    padding: 0;
  }
  .projects .card-container h1 {
    text-align: left;
  }
  .projects .card-container .card,
  .projects .card-container .card-info {
    max-width: 350px;
  }
  .about .about-container {
    padding: 0;
  }
  .about .about-container .about-wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about .about-container .about-text {
    width: 100%;
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 3rem;
  }
  .about .about-container .photo .myPhoto {
    margin-bottom: 3rem;
  }
  .about .about-container .social-media {
    width: 50%;
    margin: 3rem 0;
  }
  .contact-form .form .contact-send {
    width: 200px;
  }
  .resume-container {
    width: 90%;
    margin: 0 auto;
  }
  .resume-container .message-case {
    width: 70%;
  }
  .resume-container .resume {
    margin-top: 4rem;
  }
  .resume-container .resume .item {
    width: 70%;
  }
  .resume-container .resume .wrapper .skills-tools .tools .vs-code {
    font-size: 1.3rem;
    margin: 0;
  }
  .resume-container .resume .wrapper .traits-illustration {
    margin-bottom: 10rem;
  }
  .resume-container .resume .wrapper .traits-illustration .illustration {
    width: 65%;
  }
}

@media (min-width: 1024px) {
  .hero .hero-skills {
    margin-top: 3rem;
    width: 85%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 1200px;
  }
  .hero .hero-skills .skills {
    position: unset;
  }
  .about:before {
    font-size: 20rem;
  }
  .about .about-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
    padding: 7rem 0;
    place-items: start;
    max-width: 1200px;
  }
  .about .about-container .about-wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .about .about-container .about-wrap .about-text {
    margin-top: 0;
    text-align: left;
    width: 100%;
  }
  .about .about-container .about-wrap .social-media {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 4rem 0;
    width: 100%;
  }
  .about .about-container .about-wrap .social-media .icon-button {
    margin-right: 2rem;
  }
  .about .about-container .photo .myPhoto {
    width: 100%;
    margin: 0;
  }
  .contact-form .form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    place-content: center;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
    max-width: 1200px;
  }
  .contact-form .form .form-container {
    width: 100%;
  }
  .contact-form .form .contact-illustration {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact-form .form .contact-illustration .illustration {
    display: block;
  }
  .resume-container .resume .info-contact, .resume-container .resume .education-language {
    -ms-grid-columns: (minmax(300px, 400px))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  }
  .resume-container .resume .owl-carousel {
    display: none;
  }
  .resume-container .resume .lg-size-work {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: (minmax(340px, 300px))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(340px, 300px));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .resume-container .resume .lg-size-work .work {
    text-align: left;
    padding: 2rem;
  }
  .resume-container .resume .skills-tools {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
    margin-bottom: 5rem;
  }
}

@media (min-width: 1200px) {
  .header .nav-logo-container .nav-menu {
    padding: 2rem 0;
  }
  .main .hero {
    height: 600px;
    background-size: 500px;
  }
  .resume-container .resume .info-contact, .resume-container .resume .education-language,
  .resume-container .resume .education-language {
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
  }
  .resume-container .resume .about-me .message-case, .resume-container .resume .cv-btn .message-case {
    font-size: 1.2rem;
  }
  .resume-container .resume .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 5rem;
  }
  .resume-container .resume .wrapper .skills-tools .skills {
    row-gap: 1rem;
    margin: 0;
  }
  .resume-container .resume .wrapper .traits-illustration .illustration {
    width: 90%;
  }
}
/*# sourceMappingURL=resume.css.map */